.card {
    /* border:1px solid; */
    height:100px;
    /* flex : 1 0 auto; */
    min-width: 250px;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(20px);
    border-radius: 10px;
    position:relative;

    .action-btn {
        /* border:1px solid; */
        padding:10px 8px 0;
        height: 30px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: end;
        gap:10px;
        
        .action {
            height:20px;
            width:20px;
            /* border:1px solid; */
            border-radius: 50%;
            cursor:pointer;
        }

          .green-btn {
                background: #0f0;
            }

        .yellow-btn {
            background: yellow;
        }

        .red-btn {
            background: crimson;
        }
    }

    .content {
        /* border:1px solid; */
        margin-top: 10px;
        padding:0 15px;
        border-radius: 5px;
        text-align:left;

        p {
            color:white;
            font-size: 16px;
            letter-spacing: 1.2px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    }

    .status {
        /* border:1px solid; */
        position:absolute;
        top:5px;
        left:15px;

        
        font-size: 14px;
        text-transform: capitalize;
        font-style: italic;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        /* color:white; */
    }
}