.header {
    /* border:1px solid black; */
    padding:10px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap:10px;
    background: rgba(255,255,255,0.3);
    box-shadow: 3px 3px 8px rgba(0,0,0,0.3);
    backdrop-filter: blur(30px);

    .logo{
        font-size: 24px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #1B3C53;
        letter-spacing: 1px;
        cursor:pointer;
    }

    .github {
        padding:5px;
        border-radius: 50%;
        background: rgba(0,0,0,0.8);
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 2px 3px 9px rgba(0,0,0,0.8);
        cursor:pointer;

        .git-icon {
            font-size: 25px;
            line-height: 2px;
            color: white;
        }
    }
}