.input-wrapper{
    /* border:1px solid black; */
    padding:10px;
    margin-bottom: 10px;
    display:flex;
    align-items: center;
    justify-content: center;

    .input-container {
        /* border:1px solid black; */
        min-width: 600px;
        padding:5px;
        display: flex;
        align-items: center;

        .input-bar {
            width:400px;
            border:none;
            outline:none;
            background: rgba(0,0,0,0.7);
            color:white;
            padding:10px;
            margin-right: 20px;
            border-radius: 8px;
            letter-spacing: 1.2px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

           
        }
         input::placeholder {
                font-size: 16px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                color:white;
            }

            .add-note-btn {
                border:none;
                outline:none;
                background: rgba(0,0,0,0.7);
                padding:9px 15px;
                border-radius: 8px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor:pointer;

                i {
                    color:white;
                    font-size: 20px;
                    line-height: 6px;
                }
            }
    }
}